In [61]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv("data.csv")

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        337267 non-null  object
 1   private pool  4181 non-null    object
 2   propertyType  342452 non-null  object
 3   street        377183 non-null  object
 4   baths         270847 non-null  object
 5   homeFacts     377185 non-null  object
 6   fireplace     103115 non-null  object
 7   city          377151 non-null  object
 8   schools       377185 non-null  object
 9   sqft          336608 non-null  object
 10  zipcode       377185 non-null  object
 11  beds          285903 non-null  object
 12  state         377185 non-null  object
 13  stories       226470 non-null  object
 14  mls-id        24942 non-null   object
 15  PrivatePool   40311 non-null   object
 16  MlsId         310305 non-null  object
 17  target        374704 non-null  object
dtypes: object(18)
memory usage: 51.8+ MB

In [64]:
df.drop(columns=["status","MlsId","street","mls-id"],inplace=True)

In [65]:
df.target=df.target.str.replace("$","")
df.target=df.target.str.replace(",","")

df.target=df.target.str.replace("+","")

C:\Users\Sony\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
C:\Users\Sony\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   private pool  4181 non-null    object
 1   propertyType  342452 non-null  object
 2   baths         270847 non-null  object
 3   homeFacts     377185 non-null  object
 4   fireplace     103115 non-null  object
 5   city          377151 non-null  object
 6   schools       377185 non-null  object
 7   sqft          336608 non-null  object
 8   zipcode       377185 non-null  object
 9   beds          285903 non-null  object
 10  state         377185 non-null  object
 11  stories       226470 non-null  object
 12  PrivatePool   40311 non-null   object
 13  target        374704 non-null  object
dtypes: object(14)
memory usage: 40.3+ MB

In [67]:
df.PrivatePool.fillna(False,inplace=True)
df['private pool'].fillna(False,inplace=True)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   private pool  377185 non-null  object
 1   propertyType  342452 non-null  object
 2   baths         270847 non-null  object
 3   homeFacts     377185 non-null  object
 4   fireplace     103115 non-null  object
 5   city          377151 non-null  object
 6   schools       377185 non-null  object
 7   sqft          336608 non-null  object
 8   zipcode       377185 non-null  object
 9   beds          285903 non-null  object
 10  state         377185 non-null  object
 11  stories       226470 non-null  object
 12  PrivatePool   377185 non-null  object
 13  target        374704 non-null  object
dtypes: object(14)
memory usage: 40.3+ MB

In [69]:
df.PrivatePool=df.PrivatePool.apply(lambda x: True if type(x) is str else False)
df['private pool']=df['private pool'].apply(lambda x: True if type(x) is str else False)

In [70]:
df['pool']=df.PrivatePool | df['private pool']

In [71]:
df.drop(columns=['PrivatePool','private pool'],inplace=True)

In [72]:
df.fireplace=df.fireplace.apply(lambda x: True if type(x) is str else False)

In [73]:
df.dropna(inplace=True)

In [74]:
df.drop(columns='propertyType',inplace=True)

In [75]:
df['baths'] = df['baths'].str.replace('Baths', '')
df['baths'] = df['baths'].str.replace('Bath', '')
df['baths'] = df['baths'].str.replace('rooms:', '')
df['baths'] = df['baths'].str.replace(',', '.')
df['baths'] = df['baths'].str.replace('ba', '.')
df['baths'] = df['baths'].str.replace('ba', '')
df['baths'] = df['baths'].str.replace(' .', '')
df['baths'] = df['baths'].str.replace('~', '')
df['baths'] = df['baths'].str.replace('+', '')
df['baths'] = df['baths'].str.replace('—', '0')
df['baths'] = df['baths'].str.replace('ths', '')
df['baths'] = df['baths'].str.replace('emiMod', '0')
df['baths'] = df['baths'].str.replace('--', '')
df['baths'] = df['baths'].str.replace('1-0-0', '')
df['baths'] = df['baths'].str.replace('Sq.t. ', '')
df['baths'] = df['baths'].str.replace('3-1-2', '')
df['baths'] = df['baths'].str.replace('2-1-1-1-1', '')

C:\Users\Sony\anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys
C:\Users\Sony\anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  if __name__ == '__main__':
C:\Users\Sony\anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app

In [76]:
ba = df[df.baths==  ''].index
df.loc[ba, 'baths'] = np.nan

In [77]:
df.baths =df.baths.apply(float)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189344 entries, 1 to 377184
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   baths      167840 non-null  float64
 1   homeFacts  189344 non-null  object
 2   fireplace  189344 non-null  bool
 3   city       189344 non-null  object
 4   schools    189344 non-null  object
 5   sqft       189344 non-null  object
 6   zipcode    189344 non-null  object
 7   beds       189344 non-null  object
 8   state      189344 non-null  object
 9   stories    189344 non-null  object
 10  target     189344 non-null  object
 11  pool       189344 non-null  bool
dtypes: bool(2), float64(1), object(9)
memory usage: 20.3+ MB

In [79]:
df.beds = df.beds.str.replace('Beds','') # заменим Beds на пустое значение

df.beds = df.beds.str.replace('bd','') # заменим bd на пустое значение
df.beds = df.beds.str.replace('Baths','')
df.beds = df.beds.str.replace('-- ','')
df.beds = df.beds.str.replace(' ','')
df.beds = df.beds.str.replace('Bath','')

In [80]:
ba = df[df.beds==  ''].index
df.loc[ba, 'beds'] = np.nan
df.beds =df.beds.apply(float)

In [81]:
df

,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,target,pool
1,3.0,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",False,Spokane Valley,"[{'rating': ['4/10', 'None/10', '4/10'], 'data...","1,947 sqft",99216,3.0,WA,2.0,310000,False
2,2.0,"{'atAGlanceFacts': [{'factValue': '1961', 'fac...",True,Los Angeles,"[{'rating': ['8/10', '4/10', '8/10'], 'data': ...","3,000 sqft",90049,3.0,CA,1.0,2895000,True
3,8.0,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",True,Dallas,"[{'rating': ['9/10', '9/10', '10/10', '9/10'],...","6,457 sqft",75205,5.0,TX,3.0,2395000,False
9,3.0,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",False,Houston,"[{'rating': ['4/10', '3/10', '2/10'], 'data': ...","1,930",77080,3.0,TX,2.0,311995,False
12,3.0,"{'atAGlanceFacts': [{'factValue': '1996', 'fac...",False,Pembroke Pines,"[{'rating': ['8/10', '7/10', '7/10'], 'data': ...","2,839 sqft",33028,4.0,FL,1.0,525000,True
...,...,...,...,...,...,...,...,...,...,...,...,...
377179,3.0,"{'atAGlanceFacts': [{'factValue': '2010', 'fac...",False,Washington,"[{'rating': ['3/10', '3/10'], 'data': {'Distan...","1,417",20001,2.0,DC,3.0,799000,False
377180,6.0,"{'atAGlanceFacts': [{'factValue': '1990', 'fac...",False,Miami,"[{'rating': ['10/10', '5/10'], 'data': {'Dista...","4,017",33180,5.0,FL,0.0,1249000,True
377181,3.0,"{'atAGlanceFacts': [{'factValue': '1924', 'fac...",False,Chicago,"[{'rating': ['1/10', '5/10', '7/10'], 'data': ...","2,000 sqft",60657,3.0,IL,9.0,674999,False
377182,3.0,"{'atAGlanceFacts': [{'factValue': '1950', 'fac...",False,Jamaica,"[{'rating': ['5/10', '4/10'], 'data': {'Distan...","1,152 sqft",11434,3.0,NY,2,528000,False
377184,2.0,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",True,San Antonio,"[{'rating': ['5/10', '4/10', '3/10'], 'data': ...","1,462",78218,3.0,TX,1.0,204900,False

In [82]:
df.sqft = df.sqft.str.replace(',','')
df.sqft = df.sqft.str.replace(' sqft','')

df.sqft = df.sqft.str.replace('Total interior livable area: ','')


df.sqft = df.sqft.str.replace('--','')


df.sqft = df.sqft.str.replace('610-840','')

In [83]:
ba = df[df.sqft==  ''].index
df.loc[ba, 'sqft'] = np.nan
df.sqft=df.sqft.apply(float)

In [84]:
def school_rating (rait1, rait2):
    sum = 0
    if len(rait1)!=0:
        n= len(rait1)
        for i in rait1:
            sum+= int(i)
    elif len(rait2)!=0:
        n= len(rait2)
        for i in rait2:
            sum+= int(i)
    else:
        return 0
    return sum/n

In [85]:
rait1 = df.schools.str.findall("'(\d+)\/10'")

rait2 = df.schools.str.findall("'(\d+)'")

rait = pd.DataFrame([rait1, rait2])
df['raiting_school'] = [school_rating(rait1[i], rait2[i]) for i in rait1.index]

In [86]:
dist_school = df.schools.str.findall("'(\d+\.\d+)")
distance = []
for i in dist_school:
    i = [float(n) for n in i]
    if len(i) >0:
        avg = sum(i)/ len(i)
        distance.append(avg)
    else:
        distance.append(0)
df['distance_school'] = distance

In [87]:
df.homeFacts = df.homeFacts.str.replace("'", '"')
df.homeFacts = df.homeFacts.str.replace("/", ' ')
df['homeFacts'] = df['homeFacts'].str.replace('None', '""')
df.homeFacts = df.homeFacts.str.replace('""""', '""')
df.homeFacts = df.homeFacts.str.replace('"""', '"')
df.homeFacts = df.homeFacts.str.replace('"closet"', 'closet')
df.homeFacts = df.homeFacts.str.replace('Carport, "", Attached Garage', 'Carport, Attached Garage')
df.homeFacts = df.homeFacts.str.replace("Attch\"d", '')
df.homeFacts = df.homeFacts.str.replace("Req\"d", '')
df.homeFacts = df.homeFacts.str.replace("Addtn\"l", '')

In [88]:
v = df[df.homeFacts.str.contains("[a-z](')[a-z]")].index
df.drop(v, inplace = True)

C:\Users\Sony\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [89]:
import json
def get_Year_built (homefacts):
    try:
        homefacts = json.loads(homefacts) # превращает json строку в json объект 
        year = homefacts ["atAGlanceFacts"][0]["factValue"]
        return year
    except Exception as e:
        print (e)
        print (homefacts)
        return np.nan
df['year_built'] = df.homeFacts.apply(get_Year_built)

In [90]:
def remodeled (homefacts ):
    homefacts = json.loads(homefacts) # превращает json строку в json объект 
    chek = homefacts ["atAGlanceFacts"][1]["factValue"]
    if chek != '':
        return chek
    else:
        return 'no'

df['remodeled_year'] = df.homeFacts.apply(remodeled)

In [91]:
r = df[df.remodeled_year == 'no'].index
df.loc[r, 'remodeled_year'] = df.loc[r, 'year_built']

In [92]:
def get_lotsize (homefacts):
    try:
        homefacts = json.loads(homefacts) # превращает json строку в json объект 
        asd = homefacts ["atAGlanceFacts"][5]["factValue"].replace(',', '')
        return asd
    except Exception as e:
        print (e)
        print (homefacts)
        return np.nan
df['lotsize'] = df.homeFacts.apply(get_lotsize)

In [93]:
def get_Heating (homefacts):
    try:
        homefacts = json.loads(homefacts) # превращает json строку в json объект 
        heat = homefacts ["atAGlanceFacts"][2]["factValue"]
        return heat
    except Exception as e:
        print (e)
        print (homefacts)
        return np.nan
df['heating'] = df.homeFacts.apply(get_Heating)

In [94]:
def get_cooling (homefacts):
    try:
        homefacts = json.loads(homefacts) # превращает json строку в json объект 
        cool = homefacts ["atAGlanceFacts"][3]["factValue"]
        return cool
    except Exception as e:
        print (e)
        print (homefacts)
        return np.nan
df['cooling'] = df.homeFacts.apply(get_cooling)

In [95]:
def get_parking (homefacts):
    try:
        homefacts = json.loads(homefacts) # превращает json строку в json объект 
        parking = homefacts ["atAGlanceFacts"][4]["factValue"]
        return parking
    except Exception as e:
        print (e)
        print (homefacts)
        return np.nan
df['parking'] = df.homeFacts.apply(get_parking)

In [96]:
df.drop('homeFacts', axis = 1, inplace = True)

In [97]:
df.drop('schools', axis = 1, inplace = True)

In [98]:
df.stories= df.stories.str.replace('Multi/Split',"")
df.stories= df.stories.str.replace('One Level',"1")
df.stories= df.stories.str.replace('1 Story',"1")
df.stories= df.stories.str.replace("3+ ","3")
df.stories= df.stories.str.replace("3+","3")


ba = df[df.stories==  ''].index
df.loc[ba, 'stories'] = np.nan

C:\Users\Sony\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
C:\Users\Sony\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

In [99]:
df.stories.unique()

array(['2.0', '1.0', '3.0', nan, '4.0', '0.0', '0', '1', '9.0', '2',
       'One', '3', 'One Story', '3.00', '1.00', '3+', '5.0', 'Two',
       '2 Story', 'Ranch/1', 'Condominium', 'Stories/Levels', '15',
       '2.00', '6.0', '1.0000', '3Story', 'Three Or More', '1 Level',
       'Two Story or More', '54.0', '23', 'Farm House', '8.0', '16.0',
       '1.50', '7.0', '9', '8', '12.0', 'Split Level w/ Sub', '4',
       '1.5 Stories', '7', '11', '22.0', 'Townhouse', '12', '21.0',
       '1.5 Story/Basement', '28.0', 'Traditional', '2.5 Story', '2.0000',
       '63.0', 'Ground Level, One', '2 Stories', '14.0', '6', '19.0',
       '2.50', '1.30', '2 Story/Basement', 'Split Level', '1.5 Story',
       '2 Or More Stories', '15.0', '1.5000', '4.00', '1 Basement',
       'Multi-Level', '5', '17.0', 'Other Multi-unit', 'Ranch',
       'Tri-Level', '1/Ranch', '51.0', '1.5', '18.0', '31', 'High-Rise',
       'Mid-Rise', 'Split Foyer', 'Detached', '3Stories', '4 Story', '22',
       '2.5', 'One and One Half', ', 2', '1 1/2 Levels', '11.0', '70',
       '1/F.R.O.G.', '25.0', '16', '3+ Story', '1.000', '10', 'Fourplex',
       '95.0', '90.0', 'Manufactured Doublewide', '6+ Stories', '91',
       '35.0', '13', '2 Levels', '31.0', 'Mobile', 'Cabin/Cottage',
       'Three Or More Levels', '24', 'Victorian', '1.75', '38',
       'One, Two', 'Contemporary', '20.0', 'Garden', '20', 'Cape Cod',
       '26.0', 'Dwelling Stories', '36.0', 'Modular Home', 'Bi-Level',
       '26', '42', 'One, Two, ', '14', '21', '27.0', '19', '3- 5 Stories',
       'Multi Level', ', 1', '55.0', '78.0', '56',
       'Split Entry (Bi-Level)', '47.0', '10.0', '47', '29', '30', '40.0',
       '1, Townhouse', '43.0', '80.0', '23.0', '24.0',
       'Total Floors in Bldg', '25', '3Story, Multi Level', '13.0',
       'Multi Level, Three or More', 'Raised Ranch', '5.00', '32', '57',
       '3.0000', '41.0', '46.0', '1.7000', 'Bungalow', '48', '1.5, 2',
       '2 Story, Tri Level', 'Two, ', '3Story, Tri Level', '57.0', '41',
       '40', '18', '3Levels', '32.0', '45', '58.0', '52.0', 'Multi-Story',
       '17', '42.0', '37.0', '1, Split Level', '30.0', '30.00', '44',
       '48.0', '16.00', 'Tri Level', 'Tri/Multi Level',
       '2 Story, Split Level', 'Co-op', 'Manufactured Singlewide',
       '3Story/Basement', '34', '68.0', '46', 'T3-Townhouse 3+ Stories',
       '77.0', '29.0', '1 1/2 Story', '1 Leveland + Loft', '1.70',
       '2.5000', 'Duplex', '2.5 Story/Basement', '36', '70.0', '28',
       'Ground Level', '78', '56.0', '1.500', '34.0',
       'Bedroom - Split Plan', '60.0', '1.2', 'One, Three Or More',
       '4.0000', '64', 'Multi-Level, New Englander', '38.0',
       'Townhouse-2 Story, T3-Townhouse 3+ Stories', '2.000', '35',
       '2 Story or 2 Level', '66.0', '62.0', '6.00', 'Quad Level',
       'Triplex', '58', 'A Frame', '15.00', 'Tudor',
       '2 Story, Multi Level', '45.0', 'Colonial', '75', ', 3',
       'Hillside', 'Live/Work', 'Apartments', '39', '95', 'Log Home',
       '4 Stories', '49.0', '1120.0', '1, 1', '1, 2 Story', 'Loft', '43',
       '52', '3.000', '39.0', '66', '2.20', 'Multi Level, Tri Level',
       '11.00', '1.3000', 'Craftsman', '2 Stories, Tear Down', 'Log',
       '3.5', '60', '1002.0', '7.00', '1, Hillside',
       '2 Stories, Townhouse', '96.0', 'Ground Level, Two', 'Chalet',
       '80', 'Ground Level, Split Level, Two', '37', '1, Multi Level',
       'One and One Half, Three Or More', 'Double Wide', 'Patio Home',
       '50.0', '65.0'], dtype=object)

In [100]:
df.stories=df.stories.str.extract("(\d+)")

In [101]:
df.drop(df[df.stories=='1120'].index,inplace=True)
df.drop(df[df.stories=='1002'].index,inplace=True)

In [102]:
df.stories=df.stories.apply(float)

In [103]:
b= df[df.lotsize.str.contains('acre', regex = False, na = False)].index
df.loc[b, 'lotsize'] = df.loc[b, 'lotsize']. apply(lambda x: str(int(43560*float(x.split()[0]))))
b= df[df.lotsize.str.contains('Acre', regex = False, na = False)].index
df.loc[b, 'lotsize'] = df.loc[b, 'lotsize']. apply(lambda x: str(int(43560*float(x.split()[0]))))

In [104]:
df.lotsize = df.lotsize.str.replace(" sqft","")
df.lotsize = df.lotsize.str.replace(" lot","")
df.lotsize = df.lotsize.str.replace(" Sq. Ft.","")
df.lotsize = df.lotsize.str.replace("—","")
df.lotsize = df.lotsize.str.replace('No Data',"")
df.lotsize = df.lotsize.str.replace('--',"")

ba = df[df.lotsize==  ''].index
df.loc[ba, 'lotsize'] = np.nan

C:\Users\Sony\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [105]:
df.lotsize=df.lotsize.apply(float)

In [106]:
df.heating.unique()

array(['', 'Forced Air', 'Gas', ...,
       'Central, Heat Pump, Natural Gas, Zoned',
       'Floor Furnace, Wall Electric, Wall Gas',
       'Baseboard, Hot Water, Programmable Thermostat, Radiant Floor'],
      dtype=object)

In [107]:
def identifier(column):
    if len (column) == 0:
        return  0
    else:
        return  1

In [108]:
df.heating=df.heating.apply(identifier)

df.parking=df.parking.apply(identifier)

df.cooling=df.cooling.apply(identifier)

In [109]:
df.year_built=df.year_built.str.replace("No Data",'')
df.remodeled_year=df.remodeled_year.str.replace("No Data",'')
ba = df[df.year_built==  ''].index
df.loc[ba, 'year_built'] = np.nan
ba = df[df.remodeled_year==  ''].index
df.loc[ba, 'remodeled_year'] = np.nan

In [110]:
df.year_built=df.year_built.apply(float)
df.remodeled_year=df.remodeled_year.apply(float)

In [111]:
df.target=df.target.apply(float)

df.fireplace=df.fireplace.apply(float)

df.pool=df.pool.apply(float)

In [112]:
#nomi = pgeocode.Nominatim('US')
#coord = df['zipcode']. apply(nomi.query_postal_code)
#coord.to_csv('coord.csv', encoding='utf-8', index=False)

In [113]:
coord = pd.read_csv('coord.csv', sep =',', error_bad_lines=False)

C:\Users\Sony\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [114]:
df['latitude'] = coord['latitude']
df['longitude'] = coord['longitude']

In [115]:
df.drop(columns="zipcode",inplace=True)

In [116]:
df.dropna(inplace=True)

In [117]:
df.to_csv("no_na_data1805.csv")

In [118]:
#dum=pd.get_dummies(df[["city","state"]])

#df = pd.concat([df,dum], axis=1)

df.drop(columns=['city','state'],inplace=True)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126377 entries, 1 to 373050
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   baths            126377 non-null  float64
 1   fireplace        126377 non-null  float64
 2   sqft             126377 non-null  float64
 3   beds             126377 non-null  float64
 4   stories          126377 non-null  float64
 5   target           126377 non-null  float64
 6   pool             126377 non-null  float64
 7   raiting_school   126377 non-null  float64
 8   distance_school  126377 non-null  float64
 9   year_built       126377 non-null  float64
 10  remodeled_year   126377 non-null  float64
 11  lotsize          126377 non-null  float64
 12  heating          126377 non-null  int64
 13  cooling          126377 non-null  int64
 14  parking          126377 non-null  int64
 15  latitude         126377 non-null  float64
 16  longitude        126377 non-null  float64
dtypes: float64(14), int64(3)
memory usage: 17.4 MB

In [120]:
df

,baths,fireplace,sqft,beds,stories,target,pool,raiting_school,distance_school,year_built,remodeled_year,lotsize,heating,cooling,parking,latitude,longitude
1,3.0,0.0,1947.0,3.0,2.0,310000.0,0.0,4.000000,1.326667,2019.0,2019.0,5828.0,0,0,0,47.6634,-117.2193
2,2.0,1.0,3000.0,3.0,1.0,2895000.0,1.0,6.666667,1.960000,1961.0,1967.0,8626.0,1,1,1,34.0660,-118.4740
3,8.0,1.0,6457.0,5.0,3.0,2395000.0,0.0,9.250000,0.752500,2006.0,2006.0,8220.0,1,1,1,32.8260,-96.7843
9,3.0,0.0,1930.0,3.0,2.0,311995.0,0.0,3.000000,1.066667,2019.0,2019.0,2056.0,1,1,1,29.8159,-95.5230
12,3.0,0.0,2839.0,4.0,1.0,525000.0,1.0,7.333333,2.040000,1996.0,1997.0,10270.0,1,1,1,26.0185,-80.3449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373045,2.0,0.0,1273.0,2.0,1.0,339900.0,0.0,7.500000,2.560000,2002.0,2002.0,5227.0,1,1,1,38.9122,-77.0177
373046,3.0,0.0,1401.0,2.0,2.0,239900.0,0.0,4.666667,2.600000,2018.0,2018.0,5227.0,1,1,1,25.9597,-80.1403
373047,2.0,0.0,2283.0,3.0,1.0,361300.0,1.0,5.500000,6.990833,1994.0,1995.0,10000.0,1,1,1,41.9399,-87.6528
373048,3.0,1.0,1120.0,3.0,2.0,199900.0,0.0,2.000000,0.960000,1995.0,1995.0,11761.0,1,1,1,40.6775,-73.7758
373050,3.0,0.0,3069.0,4.0,1.0,315000.0,0.0,6.000000,1.833333,2018.0,2018.0,7501.0,1,1,1,29.4969,-98.4032